nav {
  display: flex;
  justify-content: space-around;
  align-items: right;
  padding: 20px 40px;   
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #716d6d;
}

nav .logo {
  font-weight: bold;
  font-size: 40px; 
  color: #000;
}


nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}


nav ul li a:hover {
  color: gray;
}



body {
  margin-top: 60px;
}

body {
  font-family: Arial, Helvetica;
  margin: 0 auto;
  padding: 0 auto;
}


.section {
  padding: 5px;
}


h1, h2 {
  text-align: center;
}


.home-inner {
  text-align: left;
  padding: 100px;
  background-color: #f2f2f2;
}


.btn {
  display: inline-block;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  margin: 5px;
  border-radius: 4px;
}

.btn-outline {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}


.about-section {
  padding: 40px;
}
.about-container {
  display: flex;
  align-items: flex-start;   
  justify-content: space-between;
  gap: 20px;
}


.about-text {
  width: 50%;
  text-align: left;
}


.about-image {
  
  width: 50%;
  align-items:flex-end;
}

.about-image img {
  padding-top: 100px;
  width: 100%;      
  height: auto;     
  border-radius: 8px;
}


.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: italic;
}

.gallery-grid figure {
  margin: 10px;
  width: calc(33.33% - 20px);
  text-align: center;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 10px;
}
.gallery-grid img:hover {
  transform: scale(1.25);  
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-top: 85px;
  font-weight: bold;

}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: solid;
}

#submitBtn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: solid;
  border-radius: 10px;          
}


.site-footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
